@import "variables";
@import "functions";

@mixin button($color) {
  background-color: $primary-color;
  border: em(1px) solid $primary-color;
  color: white;
  font-family: $font;
  font-weight: 600;
}

@mixin conatct-text($text-color, $font-weight) {
  text-align: left;
  font-size: em(8px);
  font-weight: $font-weight;
  font-family: $font;
  color: $text-color;
  letter-spacing: 0.02em;
}

@mixin contact-grid() {
  width: 33.333%;
  display: grid;
  grid-template-columns: 0 em(30px) auto;
}

@mixin contact-grid-small() {
  display: grid;
  grid-template-columns: 0 em(30px) auto;
}
