// Contact us variables
$font: "Montserrat", sans-serif;
$primary-color: #dd5471;
$side-bg-color: #183a4a;
$input-border-color: #ccc;
$placeholder-text-color: #828282;

// E-commerce variables
$primary: #2b5e7a;
$secondary: #3c4858;
$primary-light: #6ca7b6;
$primary-light-hover: #2289ad;

$gray1: #797979;
$gray2: #767676;
$gray3: #9c9c9c;
$black: #000000;

$primary-text: #1f2d3d;
$light-text: #c2cedb;

$font-family: "Calibre", sans-serif;
