@import "base/variables";
@import "base/mixins";
@import "base/extends";
@import "base/functions";

body {
  direction: $default-direction;
  background-color: #d9d9d9;
  margin: 0;

  background: -webkit-radial-gradient(
      ellipse at bottom,
      #ffced8,
      transparent,
      transparent
    ),
    -webkit-linear-gradient(to bottom right, #cfdbe4, #f5f5f5, #dcf3ff);

  background: -moz-radial-gradient(
      ellipse at bottom,
      #ffced8,
      transparent,
      transparent
    ),
    -moz-linear-gradient(to bottom right, #cfdbe4, #f5f5f5, #dcf3ff);

  background: radial-gradient(
      ellipse at bottom,
      #ffced8,
      transparent,
      transparent
    ),
    linear-gradient(to bottom right, #cfdbe4, #f5f5f5, #dcf3ff);

  background-repeat: no-repeat;
  background-attachment: fixed;
}
main {
  width: 100%;
  height: em(590px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 320px) {
  section {
    width: 100%;
    margin: rem(10px) rem(24px);
    border-radius: em(50px);
    background: linear-gradient(
      to $opposite-float,
      white,
      white 75%,
      $side-bg-color 75%,
      $side-bg-color 75%
    );
    box-shadow: 0 em(120px) em(100px) em(-90px) rgb(25, 58, 75, 0.3);
  }
}

@media only screen and (min-width: 992px) {
  section {
    width: 100%;
    margin: rem(60px) rem(200px);
    border-radius: em(50px);
    background: linear-gradient(
      to $opposite-float,
      white,
      white 75%,
      $side-bg-color 75%,
      $side-bg-color 75%
    );
    box-shadow: 0 em(120px) em(100px) em(-90px) rgb(25, 58, 75, 0.3);
  }
}

.contact-us {
  width: 40%;
  padding: rem(50px) rem(75px);
  padding-#{$opposite-float}: rem(5px);
  display: inline-block;
}

.contact-us-text {
  margin-bottom: rem(20px);

  .contact-us-desc {
    @include desc-text();
  }

  .contact-us-title {
    @include title-text();
    margin-bottom: rem(10px);
    .colored-form-title {
      color: $primary-color;
    }
  }
}

.contact-form {
  .form-control {
    @extend .contact-form-style;
    margin-bottom: rem(10px);
    font-size: em(10px);
    color: $placeholder-text-color;
    border: em(1px) solid $input-border-color;
    text-align: $default-float;
  }

  .contact-sendBtn {
    @extend .contact-form-style;
    @include button($primary-color);
  }
}

.contact-info {
  margin-top: rem(30px);
  @media only screen and (min-width: 600px) {
    .email {
      float: $default-float;
      @include contact-grid-small();
    }

    .phone {
      float: $default-float;
      @include contact-grid-small();
    }

    .fax {
      float: $default-float;
      @include contact-grid-small();
    }
  }

  @media only screen and (min-width: 992px) {
    .email {
      float: $opposite-float;

      @include contact-grid();
    }
    .phone {
      float: $default-float;
      @include contact-grid();
    }

    .fax {
      float: $default-float;
      @include contact-grid();
    }
  }

  .contact-info-icon {
    @extend .contact-grid-icon;

    width: em(16px);
    height: em(16px);
  }

  .contact-info-title {
    @include conatct-text(black, 600);
    text-align: $default-float;
  }
  .contact-info-text {
    @include conatct-text($primary-color, 400);
    text-align: $default-float;
  }
}

.map {
  float: $opposite-float;
  margin-top: rem(50px);
  margin-#{$opposite-float}: rem(50px);
}
.map-img {
  width: em(270px);
}

@media only screen and (max-width: 600px) {
  .map {
    float: $default-float;
    margin: 0 rem(40px);
  }
}
